:root {
  --vp-nav-logo-height: 36px;
  --vp-c-brand-alt-1: #d20f39;
  --vp-c-brand-alt-2: rgb(187, 13, 51);
  --vp-c-brand-alt-3: #d20f39;

  --vp-home-hero-name-color: var(--vp-c-brand-alt-1);
}

.dark {
  --vp-c-brand-alt-1: #f38ba8;
  --vp-c-brand-alt-2: rgb(241, 115, 151);
  --vp-c-brand-alt-3: #f38ba8;
}

.pager,
.header-anchor,
.vp-doc :not(pre, h1, h2, h3, h4, h5, h6) > code,
.VPSidebar
{
  --vp-c-brand-1: var(--vp-c-brand-alt-1);
  --vp-c-brand-2: var(--vp-c-brand-alt-2);
  --vp-c-brand-3: var(--vp-c-brand-alt-3);
}


/* ===== API reference ===== */

.odoc-breadcrumbs {
  margin-bottom: 24px;
  opacity: 0.75;
}

.odoc-breadcrumbs:hover {
  opacity: 1;
}

.odoc-spec {
  margin: 24px 0;
  border-radius: 4px;
  overflow: clip;
  border: 1px solid var(--vp-code-bg);
}

.odoc-spec code {
  padding: 0 !important;
  background: none !important;
  white-space: pre-wrap;
}

.odoc-spec .spec {
  font-family: var(--vp-font-family-mono);
  padding: 3px 6px;
  background-color: var(--vp-code-bg);
}

.odoc-spec .spec > ol {
  margin: 0;
}

.odoc-spec .spec > ol > li {
  list-style-type: none;
}

.odoc-spec .def-doc {
  border-radius: 4px;
  background-color: var(--vp-c-bg);
  padding: 3px 6px;
  margin: 0 30px;
  font-family: var(--vp-font-family-base);
}

.odoc-spec .def-doc p {
  margin: 0;
}

.odoc-spec .comment-delim {
  display: none;
}

.odoc-spec .spec-doc p {
  margin: 0 8px;
}

.odoc-include > details > :not(summary) {
  margin-left: 24px;
}

